/*
.wrap {
width: 100%;
overflow:auto;
}

.fleft {
float:left;
width:50%;
height:100%;
}

.fright {
float:right;
width:50%;
height:100%;
}
*/

.header {
position: fixed;
top: 0px;
width: 75%;
height: 50px;
padding: 5px;
left: 0;
right: 0;
margin: auto;
border-style: ridge;
border-width: 5px;
border-color: black;
}

.header table {
margin: 0 auto;
}

body {
margin-top: 65px;
}
