form textarea#text {
	width: 100%;
	height: 10em;
}

.nopadding {
	padding: -10px !important;
	margin: -10px !important;
}

table {
	margin-left:  auto;
	margin-right: auto;
}

.table-responsive {
	/*
	width: 100%;
	height: 100%;
	max-width: 830px;
	*/
}

.sugg {
	border-radius: 8px;
	background: #f4f4f4;
	border: 3px solid gray;
	padding: 5px;
	margin: 5px;
}

.specialsugg {
	border-radius: 8px;
	background: #ddd0ff;
	border: 3px solid #c3adff;
	padding: 5px;
	margin: 5px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
