<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
	<title>{{ title }} - Smashups</title>
	{% else %}
	<title>Smashups</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		var g_user_nickname = "{{ g.user.nickname }}";
	</script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ url_for('index')}}">Smashups!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Knowledge Base <span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="{{ url_for('character', name='random') }}">Character Pages</a></li>
			<li><a href="{{ url_for('smashup', char='mario', oppo='random') }}">Matchup Advice</a></li>
		  </ul>
		</li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Suggest <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('suggestion', subject='character') }}">Character Tip</a></li>
            <li><a href="{{ url_for('suggestion', subject='smashup') }}">Smashup Tip</a></li>
            <li><a href="{{ url_for('suggestion', subject='developer') }}">Developer Tip</a></li>
          </ul>
        </li>
		<li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		{% if g.user.is_authenticated %}
		<li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a></li>
		<li><a href="{{ url_for('settings') }}">Settings</a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		{% else %}
        <li><a href="{{ url_for('newuser') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		{% endif %}
      </ul>
    </div>
  </div>
</nav>
	<div class="content">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="container">
				<div class="flash-message col-sm-12">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
	</div>
</body>
</html>
