<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
	<title>{{ title }} - Smashups</title>
	{% else %}
	<title>Smashups</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/base.css') }}>
</head>
<body>
	<div class="container">
	<div class="header col-md-12">
		<p>Smashups! 
		| <a href="{{ url_for('index') }}"> HOME </a>
		| <a href="{{ url_for('suggestion') }}"> SUGGEST </a>
		{% if g.user.is_authenticated %}
		| <a href="{{ url_for('user', nickname=g.user.nickname) }}"> PROFILE </a>
		| <a href="{{ url_for('settings') }}"> EDIT </a>
		| <a href="{{ url_for('logout') }}"> LOGOUT </a>
		{% else %}
		| <a href="{{ url_for('login') }}"> LOGIN </a>
		| <a href="{{ url_for('newuser') }}"> NEW USER </a>
		{% endif %}
		</p>
	</div>
	</div>
	<div class="content">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="flash-message col-md-4 col-md-offset-4">
			<p> Look! </p>
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
	</div>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
