{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<div class="container">
<div class="col-sm-12">
	<h1>{{ character.name.title() }}</h1>
	{% include "smashbar.html" %}
	<div class="quick">
		<h2>Quick Tips <a href="/suggestion/character/quick/{{character.name}}">[+]</a></h2>
		{% for sugg in quicks %}
			{% if sugg.is_special %}
				{% include "specialsuggestion.html" %}
			{% else %}
				{% include "suggestion.html" %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="depth">
		<h2>In-Depth <a href="/suggestion/character/depth/{{character.name}}">[+]</a></h2>
		{% for sugg in depths %}
			{% include "suggestion.html" %}
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}
