{% for comment in comments recursive %}
    <div class="comment">
    <span class="comment_id" style="display:none;">{{ comment.id }}</span>
    <a class="minimize">[-]</a>
    <span class="comment_nickname">{{ comment.user_nickname }}</span>
    {% if g.user.is_special or g.user.nickname == suggestion.user_nickname %} 
        <a href=# class="delete">[X]</a>
    {% endif %} 
    <a class="reply">reply</a>
    <div class="text"><p>{{ comment.text }}</p></div>
    {% if comment.children %}
        {{ loop(comment.children) }}
    {% endif %}
    </div>
{% endfor %}
