{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="col-sm-12">
<h1>This is the index page.</h1>
<p>There is not much here at the moment, but the rest of the site has some cool stuff! Check it out!</p>
<br>
<h2>Please Note:</h2>
<p>This site is under construction! What this means for you:</p>
<ul>
	<li>You can pretty much enter anything for name, email, and password at the moment when creating a user.</li>
	<li>The site and its database will be changed frequently! If your user no longer exists, remake it.</li>
	<li>If the site breaks, make a post at <a href="https://www.reddit.com/r/supersmashups">/r/Supersmashups</a> or send me a message of what happened.</li>
</ul>
<h2>Thanks!</h2>
<br>
<h2>Upcoming:</h2>
<p>I want to add more to the site. Here are some ideas. Please write to me on reddit or discuss on /r/Supersmashups if you have comments or concerns!</p>
<h3>Actively Working On:</h3>
<ul>
    <li>Add Frame Data to Characters and some way to compare/contrast inside a matchup.</li>
    <li>Comments and threaded comment replies.</li>
    <li>More pictures?</li>
</ul>
<h3>More Ideas:</h3>
<ul>
    <li>Stage sections for Characters and Matchups</li>
    <li>Whatever you guys suggest, man</li>
</ul>
<h4>This is the end of the index page</h4>
</div>
</div>
{% endblock %}
