{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="col-sm-12">
<h1>This is the index page.</h1>
<p>There is not much here at the moment, but the rest of the site has some cool stuff! Check it out!</p>
<br>
<h2>Please Note:</h2>
<p>This site is under construction! What this means for you:</p>
<ul>
	<li>You can pretty much enter anything for name, email, and password at the moment when creating a user.</li>
	<li>The site and its database will be changed frequently! If your user no longer exists, remake it.</li>
	<li>If the site breaks, make a post at <a href="https://www.reddit.com/r/supersmashups">/r/Supersmashups</a> or send me a message of what happened.</li>
</ul>
<h2>Thanks!</h2>
</div>
</div>
{% endblock %}
