{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<div class="container">
<div class="col-sm-12">
	<h1>
		<a href="{{ url_for('character', name=character.name) }}">{{ character.name.title() }}</a>
		Quick Tips 
		<a href="/suggestion/character/quick/{{character.name}}">[+]</a>
	</h1>
	<div class="quick">
		{% for sugg in quicks %}
			{% if sugg.is_special %}
				{% include "specialsuggestion.html" %}
			{% else %}
				{% include "suggestion.html" %}
			{% endif %}
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}
