{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
	<div class="col-sm-6">
		<h1><a href="{{ url_for('character', name=left.char) }}">{{ left.char.title() }}</a></h1>
		{% include "smashbarleft.html" %}
		<div class="pros">
			<h2>Pros: <a href="/suggestion/smashup/pro/{{left.char}}/{{right.char}}">[+]</a></h2>
			{% for sugg in l_pros %}
				{% if sugg.is_special %}
					{% include "specialsuggestion.html" %}
				{% else %}
					{% include "suggestion.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="cons">
			<h2>Cons: <a href="/suggestion/smashup/con/{{left.char}}/{{right.char}}">[+]</a></h2>
			{% for sugg in l_cons %}
				{% if sugg.is_special %}
					{% include "specialsuggestion.html" %}
				{% else %}
					{% include "suggestion.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="neut">
			<h2>Neutral: <a href="/suggestion/smashup/neutral/{{left.char}}/{{right.char}}">[+]</a></h2>
			{% for sugg in l_neuts %}
				{% if sugg.is_special %}
					{% include "specialsuggestion.html" %}
				{% else %}
					{% include "suggestion.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="moves">
			<h2>Movelist: </h2>
			<div class="table-responsive">
				{% include "movelistleft.html" %}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<h1><a href="{{url_for('character', name=right.char) }}">{{ right.char.title() }}</a></h1>
		{% include "smashbarright.html" %}
		<div class="pros">
			<h2>Pros: <a href="/suggestion/smashup/pro/{{right.char}}/{{left.char}}">[+]</a></h2>
			{% for sugg in r_pros %}
				{% if sugg.is_special %}
					{% include "specialsuggestion.html" %}
				{% else %}
					{% include "suggestion.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="cons">
			<h2>Cons: <a href="/suggestion/smashup/con/{{right.char}}/{{left.char}}">[+]</a></h2>
			{% for sugg in r_cons %}
				{% if sugg.is_special %}
					{% include "specialsuggestion.html" %}
				{% else %}
					{% include "suggestion.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="neut">
			<h2>Neutral: <a href="/suggestion/smashup/neutral/{{right.char}}/{{left.char}}">[+]</a></h2>
			{% for sugg in r_neuts %}
				{% if sugg.is_special %}
					{% include "specialsuggestion.html" %}
				{% else %}
					{% include "suggestion.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="moves">
			<h2>Movelist: </h2>
			<div class="table-responsive">
				{% include "movelistright.html" %}
			</div>
		</div>
	</div>
{% endblock %}
