{% extends "base.html" %}
{% block content %}
<div class="wrap">
	<div class="fleft">
	</div>
	<div class="fright">
	</div>
</div>
{% endblock %}


<!--
	<div class="pros">
		<h2>Pros:</h2>
		<ul>
		{% for pro in pros %}
			<li>{{ pro.text }}</li>
		{% endfor %}
		</ul>
	</div>
	<div class="cons">
		<h2>Cons:</h2>
		<ul>
		{% for con in cons %}
			<li>{{ con.text }}</li>
		{% endfor %}
		</ul>
	</div>
	<div class="neut">
		<h2>Neutral:</h2>
		<ul>
		{% for neut in neuts %}
			<li>{{ neut.text }}</li>
		{% endfor %}
		</ul>
	</div>
</div>
-->
