	<div class="jumbotron">
		<div class="container">
		<div class="col-md-12">
		<table border="1">
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='wario') }}">Wario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='mario') }}">Mario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='luigi') }}">Luigi</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='peach') }}">Peach</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='bowser') }}">Bowser</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='yoshi') }}">Yoshi</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='donkey kong') }}">Donkey Kong</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='diddy kong') }}">Diddy Kong</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='captain falcon') }}">Captain Falcon</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Wolf') }}">Wolf</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Fox') }}">Fox</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Falco') }}">Falco</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Ice Climbers') }}">Ice Climbers</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Zelda') }}">Zelda</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Sheik') }}">Sheik</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Link') }}">Link</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Toon Link') }}">Toon Link</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Ganondorf') }}">Ganondorf</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Mewtwo') }}">Mewtwo</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Lucario') }}">Lucario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Pikachu') }}">Pikachu</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Jigglypuff') }}">Jigglypuff</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Squirtle') }}">Squirtle</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Ivysaur') }}">Ivysaur</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Charizard') }}">Charizard</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Samus') }}">Samus</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Zero Suit Samus') }}">Zero Suit Samus</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Lucas') }}">Lucas</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Ness') }}">Ness</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Pit') }}">Pit</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Kirby') }}">Kirby</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Meta Knight') }}">Meta Knight</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='King Dedede') }}">King Dedede</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Ike') }}">Ike</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Marth') }}">Marth</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Roy') }}">Roy</a></td>
		</tr>
		<tr>
			<td colspan="3"></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Olimar') }}">Olimar</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='R.O.B.') }}">R.O.B.</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Mr. Game & Watch') }}">Mr. Game & Watch</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Snake') }}">Snake</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Sonic') }}">Sonic</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=character.name, oppo='Random') }}">Random</td>
			<td colspan="3"></td>
		</tr>
		</table>
		</div>
		</div>
	</div><!-- jumbo div -->
