		<table class="table-responsive table-condensed table-bordered" border="1">
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='wario') }}"><img src="{{ url_for('static', filename='images/wario.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='mario') }}"><img src="{{ url_for('static', filename='images/mario.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='luigi') }}"><img src="{{ url_for('static', filename='images/luigi.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='peach') }}"><img src="{{ url_for('static', filename='images/peach.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='bowser') }}"><img src="{{ url_for('static', filename='images/bowser.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='yoshi') }}"><img src="{{ url_for('static', filename='images/yoshi.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='donkey kong') }}"><img src="{{ url_for('static', filename='images/donkeykong.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='diddy kong') }}"><img src="{{ url_for('static', filename='images/diddykong.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='captain falcon') }}"><img src="{{ url_for('static', filename='images/captainfalcon.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Wolf') }}"><img src="{{ url_for('static', filename='images/wolf.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Fox') }}"><img src="{{ url_for('static', filename='images/fox.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Falco') }}"><img src="{{ url_for('static', filename='images/falco.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ice Climbers') }}"><img src="{{ url_for('static', filename='images/iceclimbers.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Zelda') }}"><img src="{{ url_for('static', filename='images/zelda.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Sheik') }}"><img src="{{ url_for('static', filename='images/sheik.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Link') }}"><img src="{{ url_for('static', filename='images/link.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Toon Link') }}"><img src="{{ url_for('static', filename='images/toonlink.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ganondorf') }}"><img src="{{ url_for('static', filename='images/ganondorf.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Mewtwo') }}"><img src="{{ url_for('static', filename='images/mewtwo.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Lucario') }}"><img src="{{ url_for('static', filename='images/lucario.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Pikachu') }}"><img src="{{ url_for('static', filename='images/pikachu.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Jigglypuff') }}"><img src="{{ url_for('static', filename='images/jigglypuff.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Squirtle') }}"><img src="{{ url_for('static', filename='images/squirtle.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ivysaur') }}"><img src="{{ url_for('static', filename='images/ivysaur.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Charizard') }}"><img src="{{ url_for('static', filename='images/oppoizard.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Samus') }}"><img src="{{ url_for('static', filename='images/samus.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Zero Suit Samus') }}"><img src="{{ url_for('static', filename='images/zerosuitsamus.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Lucas') }}"><img src="{{ url_for('static', filename='images/lucas.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ness') }}"><img src="{{ url_for('static', filename='images/ness.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Pit') }}"><img src="{{ url_for('static', filename='images/pit.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Kirby') }}"><img src="{{ url_for('static', filename='images/kirby.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Meta Knight') }}"><img src="{{ url_for('static', filename='images/metaknight.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='King Dedede') }}"><img src="{{ url_for('static', filename='images/kingdedede.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ike') }}"><img src="{{ url_for('static', filename='images/ike.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Marth') }}"><img src="{{ url_for('static', filename='images/marth.png') }}"></a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Roy') }}"><img src="{{ url_for('static', filename='images/roy.png') }}"></a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Olimar') }}"><img src="{{ url_for('static', filename='images/olimar.png') }}"></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='R.O.B.') }}"><img src="{{ url_for('static', filename='images/rob.png') }}"></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Mr. Game & Watch') }}"><img src="{{ url_for('static', filename='images/mrgameandwatch.png') }}"></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Snake') }}"><img src="{{ url_for('static', filename='images/snake.png') }}"></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Sonic') }}"><img src="{{ url_for('static', filename='images/sonic.png') }}"></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Random') }}"><img src="{{ url_for('static', filename='images/random.png') }}"></td>
		</tr>
		</table>
