<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#charbar">Character Bar</a> - <a data-toggle="collapse" href="#smashbar">Smashup Bar</a>
      </h4>
    </div>
    <div id="charbar" class="panel-collapse collapse">
      <div class="panel-body">
		{% include "charlist.html" %}
	  </div>
    </div>
	<div id="smashbar" class="panel-collapse collapse">
		<div class="panel-body">
			This isn't done... yet. SOON™
		</div>
	</div>
  </div>
</div>
