		<table class="table-responsive table-condensed table-bordered" border="1">
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='wario') }}">Wario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='mario') }}">Mario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='luigi') }}">Luigi</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='peach') }}">Peach</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='bowser') }}">Bowser</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='yoshi') }}">Yoshi</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='donkey kong') }}">Donkey Kong</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='diddy kong') }}">Diddy Kong</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='captain falcon') }}">Captain Falcon</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Wolf') }}">Wolf</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Fox') }}">Fox</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Falco') }}">Falco</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ice Climbers') }}">Ice Climbers</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Zelda') }}">Zelda</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Sheik') }}">Sheik</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Link') }}">Link</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Toon Link') }}">Toon Link</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ganondorf') }}">Ganondorf</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Mewtwo') }}">Mewtwo</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Lucario') }}">Lucario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Pikachu') }}">Pikachu</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Jigglypuff') }}">Jigglypuff</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Squirtle') }}">Squirtle</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ivysaur') }}">Ivysaur</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Charizard') }}">Charizard</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Samus') }}">Samus</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Zero Suit Samus') }}">Zero Suit Samus</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Lucas') }}">Lucas</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ness') }}">Ness</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Pit') }}">Pit</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Kirby') }}">Kirby</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Meta Knight') }}">Meta Knight</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='King Dedede') }}">King Dedede</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Ike') }}">Ike</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Marth') }}">Marth</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Roy') }}">Roy</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Olimar') }}">Olimar</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='R.O.B.') }}">R.O.B.</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Mr. Game & Watch') }}">Mr. Game & Watch</td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Snake') }}">Snake</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Sonic') }}">Sonic</td>
			<td colspan="2"><a href="{{ url_for('smashup', char=left.char, oppo='Random') }}">Random</td>
		</tr>
		</table>
