		<table class="nopadding" border="1">
		<tr>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='wario') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/wario.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='mario') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/mario.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='luigi') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/luigi.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='peach') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/peach.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='bowser') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/bowser.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='yoshi') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/yoshi.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='donkey kong') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/donkeykong.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='diddy kong') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/diddykong.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='captain falcon') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/captainfalcon.png') }}"></a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Wolf') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/wolf.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Fox') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/fox.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Falco') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/falco.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Ice Climbers') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/iceclimbers.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Zelda') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/zelda.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Sheik') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/sheik.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Link') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/link.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Toon Link') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/toonlink.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Ganondorf') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/ganondorf.png') }}"></a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Mewtwo') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/mewtwo.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Lucario') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/lucario.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Pikachu') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/pikachu.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Jigglypuff') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/jigglypuff.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Squirtle') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/squirtle.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Ivysaur') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/ivysaur.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Charizard') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/charizard.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Samus') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/samus.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Zero Suit Samus') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/zerosuitsamus.png') }}"></a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Lucas') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/lucas.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Ness') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/ness.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Pit') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/pit.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Kirby') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/kirby.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Meta Knight') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/metaknight.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='King Dedede') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/kingdedede.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Ike') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/ike.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Marth') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/marth.png') }}"></a></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Roy') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/roy.png') }}"></a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Olimar') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/olimar.png') }}"></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='R.O.B.') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/rob.png') }}"></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Mr. Game & Watch') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/mrgameandwatch.png') }}"></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Snake') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/snake.png') }}"></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Sonic') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/sonic.png') }}"></td>
			<td><a href="{{ url_for('smashup', char=left.char, oppo='Random') }}"><img class="img-responsive" src="{{ url_for('static', filename='images/random.png') }}"></td>
			<td></td>
		</tr>
		</table>
