		<table border="1">
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='wario') }}">Wario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='mario') }}">Mario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='luigi') }}">Luigi</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='peach') }}">Peach</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='bowser') }}">Bowser</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='yoshi') }}">Yoshi</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='donkey kong') }}">Donkey Kong</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='diddy kong') }}">Diddy Kong</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='captain falcon') }}">Captain Falcon</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Wolf') }}">Wolf</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Fox') }}">Fox</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Falco') }}">Falco</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Ice Climbers') }}">Ice Climbers</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Zelda') }}">Zelda</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Sheik') }}">Sheik</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Link') }}">Link</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Toon Link') }}">Toon Link</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Ganondorf') }}">Ganondorf</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Mewtwo') }}">Mewtwo</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Lucario') }}">Lucario</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Pikachu') }}">Pikachu</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Jigglypuff') }}">Jigglypuff</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Squirtle') }}">Squirtle</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Ivysaur') }}">Ivysaur</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Charizard') }}">Charizard</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Samus') }}">Samus</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Zero Suit Samus') }}">Zero Suit Samus</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Lucas') }}">Lucas</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Ness') }}">Ness</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Pit') }}">Pit</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Kirby') }}">Kirby</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Meta Knight') }}">Meta Knight</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='King Dedede') }}">King Dedede</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Ike') }}">Ike</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Marth') }}">Marth</a></td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Roy') }}">Roy</a></td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Olimar') }}">Olimar</td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='R.O.B.') }}">R.O.B.</td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Mr. Game & Watch') }}">Mr. Game & Watch</td>
		</tr>
		<tr>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Snake') }}">Snake</td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Sonic') }}">Sonic</td>
			<td colspan="2"><a href="{{ url_for('smashup', oppo=right.char, char='Random') }}">Random</td>
		</tr>
		</table>
