<div class="sugg">
	<script type=text/javascript>
		$(function() {
			$('a#upvote').bind('click', function() {
				$.getJSON('/_upvote', {
					user_nickname: "{{ sugg.user_nickname}}",
					sugg_id: "{{ sugg.id }}"
				}, function(data) {
					$("#score").html("{{ sugg.score + 1 }}");
				});
				return false;
			});
		});
	</script>
	<div class="sugg-text">
		<p>{{ sugg.text }}</p> 
	</div>
	<div class="sugg-info">
		<p style="margin-left:1em;"><a href="javascript:void();" id="upvote">[+]</a><span id="score"> {{ sugg.score }}</span> -> {{ sugg.user_nickname }}{% if g.user.is_special %}[x]{% endif %}</p>
	</div>
</div>
