{% extends "base.html" %}

{% block content %}
	<h1>New Suggestion</h1>
	<form action="" method="post" name="suggestion">
		{{ form.hidden_tag() }}
		<p>
			Character: {{ form.character() }}
		</p>
		<p>
			Opponent (none if not a smashup):<br>
			{{ form.opponent() }}
		</p>
		<p>
			Section (pro/con/neutral for smashup, quick/depth for character):<br>
			{{ form.section() }}
		</p>
		<p>
			Text:<br>
			{{ form.text() }}
		</p>
		<p><input type="submit" value="Suggest!"></p>
	</form>
{% endblock %}
